/* основной цвет текста черный #212121 */
/* акцент #2196F3 синий */
/* второстипенный цвет серый #757575 */
/* бэграунд НАША КОМАНДА #F5F4FA */



:root {
  --primary-text-color  #757575
  --title-text-color #212121
  --accent-color #2196F3
} 


body {
  font-family: Roboto ;
  background-color: #fff;
  color: #757575
  
}

ul {
  list-style: none;
}

.logo {
  color: #2196f3;
}
/* site nav */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color:#2196f3 ;
}

/* gmail and tel */
.site-mail a {
  color: #2196f3;
}
.site-tel a {
  color: #757575;
}
/* section */
.section-title {
  color: #212121;
}
.adress {
  color: #f50606;
}

/* button */
.button {
  background-color: #2196F3 ;
  color: #ffffff
}
.button.primary {
  background-color: #F5F4FA;
  color: #212121
}



