:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bgc-color: #f5f4fa;
}
/* вторичный цвет боди #F5F4FA */
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
}
ul {
  list-style: none;
}

/* loogotip */
.logo {
  color: var(--accent-color);
  font-family: raleway, cursive;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts */
.contacts {
  color: var(--primary-text-color);
}

.contacts-list {
  color: var(--primary-text-color);
}

.contacts-list:hover {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
  letter-spacing: 0.06em;
}

/* features list */
.features-list {
  color: var(--title-text-color);
}

/* section title*/
.section-title {
  color: var(--title-text-color);
}

/* team list */
.team-list {
  color: var(--title-text-color);
}

/* project-list */
.project-list {
  color: var(--title-text-color);
}

/* button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-bgc-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--title-text-color);
  background-color: var(--primary-bgc-color);
}
.button.secondary:hover {
  color: var(--accent-color);
}

.adress {
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
}
